h1 {
    width: 100%;
    font-size: 60px;
    color: white;
}

.container {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}


nav ul li{
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    width: 33%;
}

.link {
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 5em;
}

h2 {
    font-size: 40px;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h3+ul {
    border: 2px solid black;
}


